body, html {
  height: 100%;
  width: 100%;
  font-family: 'Lato';
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* NAVBAR */

nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4d4d4d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav a {
  float: right;
}

nav a:first-child{
  float: left;
}

nav a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-family: 'Lato';
  opacity: .7;
}

nav a:hover {
  opacity: 1;
  color: white;
  text-decoration: none;
}

/* HOMEPAGE */

#intro-section {
  text-align: center;
  position: absolute;
  background-image: url("../img/sunset.jpg");
  height: 100%;
  width: 100%;
}

#name h1{
  font-size: 80px;
  font-family: 'Lato';
  color: white;
  position: relative;
  padding-top: 200px;
  padding-bottom: 20px;
}

#social-icons a {
  color: white;
  opacity: .6;
  margin: 5px;
  text-decoration: none;
}

#social-icons a:hover {
  opacity: 1;
}


/* ABOUT ME PAGE */

.about-me-page {
  padding: 75px 100px;
  background-color: #F2E0E0;
  min-height: 100%;
  width: 100%;
}

.about-me-page h1{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.about-me-page h2{
  font-weight: bold;
}

.about-me-page p {
  font-size: 18px;
}

.about-me-page ul {
  padding-left: 20px;
  list-style-type: circle
}

.about-me-page li{
  font-size: 17px;
}

hr {
  border: 1px solid white;
  margin: 50px 0px;
  clear: both;
}

#profile {
  width: 150px;
  margin: 0px auto 20px auto;
  display: block;
}

#bio-section p {
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
}

#interests-section p{
  font-size: 14px;
}

#interests-section img{
  width: 100px;
}

/* PROJECTS PAGE */

#projects-section{
  font-family: 'Lato';
  font-size: 16px;
  padding: 75px 100px;
  background-color: #e5e5ed;
  min-height: 100%;
  width: 100%;
}

#dumpit, #wordtree {
  margin-bottom: 50px;
}

#projects-section h1{
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
  text-align: center;
}

#projects-section h2{
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 20px;
}

#projects-section a{
  color: #218868;
  text-decoration: none;
  font-family: 'Lato';
  font-size: 15px;
}

#projects-section p{
  line-height: 125%;
}

.location{
  color: #636363;
  font-weight: bold;
  text-align: left;
  margin-bottom: 30px;
}

#dumpit img {
  width: 100%;
  max-width: 400px;
  max-height: 200px;
  margin: 0px 5px 30px 0px;
}

#wordtree img {
  width: 100%;
  max-width: 300px;
  max-height: 150px;
  margin: 0px 5px 30px 0px;
}